<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="fifa_k" connectionString="Server=.\SQLEXPRESS;Database=FIFA;Trusted_Connection=True;" providerName="System.Data.SqlClient" />
    <add name="fifa_r" connectionString="Server=ROMAN;Database=FIFA;Trusted_Connection=True;" providerName="System.Data.SqlClient" />
    <add name="fifa" connectionString="data source=192.168.1.250;Initial Catalog=fifa;User Id=fifa;Password=q1w2e3$;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>